* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    }

    a {
        color: black;
        text-decoration:none;
    }
    a:hover {
color:blue
    }

    p {
        font-weight: 300;
        font-style: normal;
    }

    .tekst {
        color: blue;
    }

    div {
        display:block;
        background: yellow;
        border: 2px solid orange;
        width: 25;
        height: 200px;
    }